body {
  background-color: #fff7ed;
}
header {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #c36b6b;
  margin-bottom: 2em;
}
section {
  width: 90%;
}
hr {
  color: #d45e54;
}
.home-page {
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  font-family: "Arial", sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.contentContainer {
  margin-top: 2em;
  font-size: 24px;
  font-weight: lighter;
  width: 50%;
  display: flex;
  justify-self: center;
  color: #d45e54;
}
.homeImage {
  width: 50%;
}
.slogan {
  color: #d45e54;
  font-weight: bold;
  font-size: 24px;
}
.custom-hr {
  color: #d45e54;
  border-top: 1em solid #d45e54;
}
