body {
  background-color: #fff7ed;
}
header {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #c36b6b;
  margin-bottom: 2em;
}
section {
  width: 90%;
}
hr {
  color: #d45e54;
}
.home-page {
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  font-family: "Arial", sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.headerContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
/* Original styles for larger screens */
.contentContainer {
  margin-top: 2em;
  font-size: 24px;
  font-weight: lighter;
  display: flex;
  justify-content: space-between;
  color: #d45e54;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .contentContainer {
    flex-direction: column; /* Stack items vertically on smaller screens */
    text-align: center; /* Center-align text on smaller screens */
    margin-top: 1em;
    font-size: 18px;
  }
}

.homeImage {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .homeImage {
    width: 100%; /* Set width to 100% for smaller screens */
  }
}
.slogan {
  color: #d45e54;
  font-weight: bold;
  font-size: 24px;
}
.custom-hr {
  color: #d45e54;
  border-top: 1em solid #d45e54;
}
/* Original styles for larger screens */
.contentText {
  width: 43%;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .contentText {
    width: 100%; /* Set width to 100% for smaller screens */
  }
}
